
.category-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-2{
    
   
    margin: auto;
    justify-content: center;
    align-items: center;
    
    
 }

 .card-1{
    
   width: 200px;
   height: 200px;
   justify-content: center;
   border: none;

   
 }

 

 .card-2:hover{
  border: 3px solid rgb(253, 235, 71) !important;
 }